@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Filter RLC </h2>
<hr id="line"><br>
<img id="pic" src="~/Image/Schematicgif.gif" alt="Block diagram" style="display:block; width:800px; height:auto; margin-left:auto; margin-right:auto" />

<br>
<p> U1 is the source </p>
<p> R1,R2,L1,C1 are electrical components of the circuit</p>
<p> U2 is on the load</p>